@font-face {
  font-family: DroidSerif;
  src: url("fonts/DroidSerif-WmoY.ttf") format("truetype");
  src: url("fonts/DroidSerifBold-aMPE.ttf") format("truetype");
  src: url("fonts/DroidSerifBoldItalic-E1r9.ttf") format("truetype");
  src: url("fonts/DroidSerifItalic-Odqd.ttf") format("truetype");
}

body {
  font-family: DroidSerif; sans-serif;
  background-image: url("img/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: center;*/
}
header .h1{
  font-size: 11rem;
}
#cadreheader {
  height: 500px;
  border: solid #ad7835 10px;
}
#underlinetitle{
  text-decoration: underline;
  text-underline-position: under;
}
#titlesection{
  color: #ad7835;
}
#titleunderline{
  text-decoration: underline;
  text-underline-position: under;
}
#thirdtext{
  color: #ad7835;
}

#aboutme {
  height: 600px;
  background-color: #373737;
}

#article {
  height: 600px;

}

#imgarticle img {
  box-shadow: -40px -40px #373737;
}
.articletitle{
  border-bottom: 2px #ad7835 solid;
  color: #ad7835;
}
#readmeart{
  text-decoration: none;
  color: #ad7835;
  text-transform: uppercase;
}

#formemail {
  height: 600px;
  background-color: #373737;
}
.form-control::-webkit-input-placeholder {
  color: white;
}
.fab{
  text-decoration: none;
  color: #ad7835;
  font-size: 2rem;
  width:3rem;
  height: 3rem;
  border: 1px solid #ad7835;
  text-align: center;
  padding-top: 0.5rem;
}
.btn {
  border :1px solid #ad7835;
  color:  #ad7835;
  text-transform: uppercase;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
